
<script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQuLUlWzM8pL2OiDyniga9joAI3hxDeZs
&libraries=places&callback=initMap">
</script>
@{
    ViewBag.Title = "Index";
}
<style>
    .slidecontainer {
        width: 100%;
    }

    .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 25px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

        .slider:hover {
            opacity: 1;
        }

        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            /*  background: #4CAF50;*/
            background-color: mediumslateblue;
            cursor: pointer;
        }

        .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            background: #4CAF50;
            cursor: pointer;
        }
</style>



<div class="slidecontainer">

    @using (Html.BeginForm("Index", "Distance", FormMethod.Post))
    {
    <table border="0" cellpadding="5" cellspacing="0">
        <tr>
            <td>new area</td>
            <td>@Html.TextBox("txtLocation")</td>
        </tr>
        <tr style="display:none">
            <td>Address</td>
            <td>@Html.TextBox("txtAddress")</td>
        </tr>
        <tr style="display:none">
            <td>Latitude</td>
            <td>@Html.TextBox("txtLatitude")</td>
        </tr>
        <tr style="display:none">
            <td>Longitude</td>
            <td>@Html.TextBox("txtLongitude")</td>
        </tr>
        <tr style="display:none">
            <td>Longitude</td>
            <td>@Html.TextBox("txtRad")</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create" id="create" /></td>
        </tr>
    </table>
        <p>Distance:</p>
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange" onchange="copy()">
        <p>Value: <span id="demo"></span> Miles</p>
    }

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function(){
                alert("@ViewBag.Message");
            };
        </script>
        Html.RenderPartial("_zip");
    }


</div>
<script>
    function copy() {
        var slider = document.getElementById("myRange");
        var textrad = document.getElementById("txtRad");
        textrad.value = slider.value;
    }
    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    var textrad = document.getElementById("txtRad");
    textrad.value = slider.value;

    output.innerHTML = slider.value;

    slider.oninput = function () {
        output.innerHTML = this.value;
    }

    function initMap() {
        google.maps.event.addDomListener(window, 'load', function () {
            var places = new google.maps.places.Autocomplete(document.getElementById('txtLocation'));
            google.maps.event.addListener(places, 'place_changed', function () {
                var place = places.getPlace();
                document.getElementById('txtAddress').value = place.formatted_address;
                document.getElementById('txtLatitude').value = place.geometry.location.lat();
                document.getElementById('txtLongitude').value = place.geometry.location.lng();
            });
        });
    }
    
    initMap();
</script>




